{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create log{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
	<label for="temperature">Temperature</label>
	<input name="temperature" id="temperature" required>
	<label for="ph">pH</label>
	<input name="ph" id="ph" required>
	<label for="chlorine">Chlorine Level</label>
	<input name="chlorine" id="chlorine" required>
	<label for="cya">Cyanuric Acid(CYA) Level</label>
	<input name="cya" id="cya" required>
	<label for="pressure">Filter Pressure</label>
	<input name="pressure" id="pressure" required>
	<input type="submit" value="Create">
</form>
{% endblock %}
